<div class="container " style="margin-top: 70px;">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header" style="padding-top: 150px;">About <small>Blood donation</small></h1>
			<hr class="my-4">
			<ol class="breadcrumb" >

				<li style="padding:10px 5px;"><a style="color: red;" routerLink="/home">Home</a></li>
				<li class="active" style="padding:10px 5px; color: red;">/About</li>				
			</ol>
		</div>
	</div>
	<div class="row">
		

		<div class="col-lg-10">
			<h2 class="page-header text-danger">About Blood Donation</h2>
			<p>Blood donation is a voluntary procedure that can help save the lives of others. There are several types of blood donation, which help meet different medical needs.</p>
			<img src="../../assets/images/d14.jpg">
			<h3 class="text-danger">Whole blood donation</h3>
			<p>
			This is the most common type of blood donation, during which you donate about a pint of whole blood. The blood is then separated into its components — red cells, plasma, platelets.	</p>

			Apheresis
			During apheresis, you are hooked up to a machine that can collect and separate blood components, including red cells, plasma, platelets, and return unused components back to the donor.
			<ul><li>Platelet donation (plateletpheresis) collects only platelets — the cells that help stop bleeding by clumping and forming plugs (clotting) in blood vessels.

			Donated platelets are commonly given to people with leukemia, people receiving chemotherapy and babies with severe infections.</li>
			<li>Double red cell donation allows you to donate twice the amount of red blood cells than you normally would during a whole blood donation. Red blood cells deliver oxygen to the entire body.

			People with a medical need for only red blood cells include those with severe blood loss, such as after an injury or accident, and those who have anemia with serious symptoms</li>
		<li>Plasma donation (plasmapheresis) collects the liquid portion of the blood (plasma). Plasma helps blood clot and contains proteins and other substances, such as electrolytes, that help the body function normally.

			Plasma is commonly given to people with liver conditions, burns and severe bacterial infections in their blood.</li></ul>

		

			<H3 class="text-danger">The Importance of Donating Blood</H3>

			<p>Today, most medical care depends on a steady supply of blood from donors, as one in seven people entering the hospital need blood. For Moffitt, as cancer care increases, so does the demand for blood and platelet donations. An adequate amount of blood is needed in all health care facilities to meet the urgent need for patients facing trauma and other lifesaving procedures, such as blood transfusions – which saves millions of lives each year. Donating blood is a simple procedure that can be done within an hour. To donate blood in your local community visit www.lifesouth.org or www.scbb.org. </p>
		</div>
	</div>
</div>