
<div class="container-fluid" style="margin-top:70px; margin-left: 15%;">
	<div class="row">
		<div class="col-lg-8">
         <nav aria-label="breadcrumb">
           <ol class="breadcrumb">
             <li class="breadcrumb-item-active"><a routerLink="/counties" class="text-danger">Counties</a></li>
             <li class="breadcrumb-item active" aria-current="page"><a routerLink="/sub-counties" class="text-danger">Sub-Counties</a></li>
             <li class="breadcrumb-item"><a routerLink="/patients" class="text-danger">Patients</a></li>
             <li class="breadcrumb-item active" aria-current="page"><a routerLink="/donors" class="text-danger">Donors</a></li>
             <li class="breadcrumb-item active" aria-current="page"><a routerLink="/messages" class="text-danger">Messages</a></li>

           </ol>
</nav>
	
		</div>
	</div>
</div>

