<h1 class="text-danger text-center">Connect with Active Donors</h1>
<div class="d-flex justify-content-center px-5">
    <div class="search"> <input type="text" class="search-input" placeholder="Search..." name=""> <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a> </div>
</div>
<div class="links">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active text-danger" aria-current="page" href="#">Active Donors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#">Inactive Donors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#">County</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#" tabindex="-1" aria-disabled="true">Settings</a>
        </li>
      </ul>
</div>
